/acl-*
acl-*.tar.gz
/autom4te.cache/
/build/rpm/acl.spec
/build/rpm/*.rpm
/build/rpm/rpmfiles*
/build/rpm/rpmmacros
/build/rpm/rpm-*.rc
/.census
/chacl/chacl
/config.log
/config.status
/configure
/doc/CHANGES.gz
/getfacl/getfacl
/include/acl
/include/builddefs
/include/config.h
/include/sys
*.la
.libs/
*.lo
/Logs/
*[-.]manifest
*.mo
*.o
/po/acl.pot
/setfacl/setfacl
/aclocal.m4
/config.guess
/config.sub
/libtool
/ltmain.sh
